<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Take SamPoll</title>
</head>

<body>
    <h2>{{poll['question']}}</h2>
    <form method="POST">
        {% for choice in poll['choices'] %}
            <input type="radio" value={{choice.replace(" ", "****SPACE****")}} name="answer"> {{choice}} <br>
        {% endfor %}
        <br><input type="submit" value="submit">
    </form>
</body>
<script src="../../../static/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        let url = window.location.pathname;
        let qnum = url.substr(15);
        qnum = Number(qnum.substring(0, qnum.length - 1));
        $('form').attr('action', `${url.substring(0, url.length - 2)}${qnum + 1}/`)
    });
</script>

</html>