<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Take SamPoll</title>
</head>

<body>
    <h2>{{poll['question']}}</h2>
    <form method="POST">
        {% for choice in poll['choices'] %}
            <input type="radio" value={{choice}} name="answer"> {{choice}} <br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
</body>
<script src="static/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        $('form').attr('action', window.location.href.substring(0, window.location.href.length - 2) + 'results/')
    });
</script>

</html>